.container {
  display: flex;
  margin: 0 30rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding: .7rem 1.2rem;
  border-radius: .3rem;
  background-color: white;
  color: black;
  font-weight: 400;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--second-color-two);
}


.btn:disabled {
  background-color: #cccccc;
  cursor: default;
}

.active {
  border: .1rem solid var(--second-color);
}

.span {
  margin: 0 5px;
  color: #666666;
}

@media (max-width: 1360px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .container {
    margin: 0 5rem;
  }

  .btn {
    padding: .5rem 1rem;
    font-size: 1.4rem;
  }
}