.container {
  padding: 0 30rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.divHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divHeader h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

.divSelect {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.divSelect label {
  font-size: 1.4rem;
  font-weight: 400;
}

.select {
  font-size: 1.4rem;
  background-color: transparent;
  cursor: pointer;
}

.divProducts {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  gap: 3rem; */
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

@media (max-width: 1360px) {
  .container {
    padding: 0rem;
  }

  .divProducts {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .divHeader h3 {
    font-size: 1.6rem;
    width: 100%;
  }

  .divSelect {
    flex-direction: column;
    gap: 0;
  }

  .divSelect label {
    font-size: 1.2rem;
    gap: .5rem;
  }

  .select {
    font-size: 1.2rem;
  }

  .divProducts {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}