.container {
  display: flex;
  justify-content: center;
  padding: 5rem 50rem;
  gap: 5rem;
}

.divTitle {
  width: 50%;
}

.title {
  font-size: 2.6rem;
}

.divForm {
  padding: 3rem;
  width: 50%;
  border-radius: .3rem;
  background-color: white;
  box-shadow: 0 0 .1rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.divInput {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.divInput h3 {
  font-size: 1.5rem;
}

.input {
  padding: 1rem;
  border: .1rem solid var(--gray-color-light);
  border-radius: .3rem;
  font-size: 1.5rem;
}

.button {
  padding: 1.2rem;
  border: none;
  border-radius: .3rem;
  background-color: var(--main-color);
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--second-color);
}

.divBtns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btnForgot {
  font-size: 1.4rem;
  cursor: pointer;
  background-color: white;
  color: var(--second-bg-color);
}

.btnCreate {
  padding: 1.2rem;
  border: none;
  border-radius: .3rem;
  background-color: var(--second-bg-color);
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}

.btnCreate:hover {
  background-color: var(--third-bg-color);
}

.btnGoogle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  border: none;
  border-radius: .3rem;
  background-color: white;
  color: black;
  font-size: 1.6rem;
  cursor: pointer;
  gap: 2rem;
  border: .1rem solid var(--gray-color-light);
}

.googleIcon {
  font-size: 2rem;
}