.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 4rem;
  margin-top: 7.8rem;
}

.divHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 30rem;
  background-color: var(--second-color);
}

.title {
  padding: .5rem 0;
  font-size: 3rem;
}

.divManufacturers {
  margin: 0 30rem;
  padding: 3rem;
  background-color: white;
}

@media (max-width: 1360px) {
  .divHeader {
    padding: 1rem 15rem;
  }

  .divManufacturers {
    margin: 0 15rem;
  }
}

@media (max-width: 1024px) {
  .divHeader {
    padding: 1rem 5rem;
  }

  .divManufacturers {
    margin: 0 5rem;
  }
}

@media (max-width: 768px) {
  .divHeader {
    padding: 1rem 2rem;
  }

  .divManufacturers {
    margin: 0 2rem;
  }
}

@media (max-width: 480px) {
  .container {
    margin-top: 4.5rem;
  }

  .divHeader {
    padding: .5rem 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .divManufacturers {
    margin: 0 1rem;
  }
}