.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 4rem;
  margin-top: 7.8rem;
}

.divHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 30rem;
  background-color: var(--second-color);
}

.divTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: aqua;
  border-radius: .3rem;
  background-color: var(--other-gray-light);
}

.divLogo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.imgLogo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.name {
  font-size: 2rem;
  font-weight: 600;
}

.divRating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.divStars {
  display: flex;
  font-size: 1.4rem;
  gap: .1rem;
}

.averageRating {
  font-size: 1.2rem;
  font-weight: 400;
}

.iconShare {
  font-size: 2.5rem;
  color: var(--second-bg-color);
  cursor: pointer;
}

.divData {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.followers {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--other-gray-light);
}

.btnFollow {
  padding: .5rem 1rem;
  border-radius: .3rem;
  background-color: var(--second-bg-color);
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.btnFollow:hover {
  background-color: var(--third-bg-color);
}

.divProducts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (max-width: 1360px) {
  .divHeader {
    padding: 1rem 15rem;
  }

  .divProducts {
    padding: 0 15rem;
  }
}

@media (max-width: 1024px) {
  .divHeader {
    padding: 1rem 5rem;
  }

  .divProducts {
    padding: 0 5rem;
  }
}

@media (max-width: 768px) {
  .divHeader {
    padding: 1rem 2rem;
  }

  .divProducts {
    padding: 0 2rem;
  }
}

@media (max-width: 480px) {
  .container {
    margin-top: 4.5rem;
  }

  .divHeader {
    padding: .5rem 1rem;
  }

  .divProducts {
    padding: 0 1rem;
  }

  .divTitle {
    padding: .5rem;
  }

  .divLogo {
    gap: .5rem;
  }

  .imgLogo {
    width: 3rem;
    height: 3rem;
  }

  .name {
    font-size: 1.5rem;
  }

  .divRating {
    gap: .3rem;
  }

  .divStars {
    font-size: 1.2rem;
  }

  .averageRating {
    font-size: 1rem;
  }

  .divData {
    flex-direction: column-reverse;
    gap: .2rem;
  }

  .followers {
    font-size: 1.2rem;
  }

  .btnFollow {
    padding: .3rem .5rem;
    font-size: 1rem;
  }

  .btnFollow:hover {
    background-color: var(--third-bg-color);
  }
}