.container {
  display: flex;
  border-bottom: .1rem solid var(--gray-color-light);
  padding-bottom: .8rem;
}

.divData {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.divLeft {
  display: flex;
  gap: 3rem;
}

.image {
  max-width: 12rem;
}

.dataProduct {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
}

.price {
  font-size: 1.8rem;
  font-weight: 400;
}

.divRight {
  display: flex;
}

.divVariants {
  display: flex;
  gap: 10rem;
}

.variants {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.variants p {
  font-size: 1.5rem;
  color: var(--gray-color);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  text-align: center;
}

.table th {
  font-size: 1.2rem;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table td {
  font-size: 2rem;
  color: var(--gray-color);
}