.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;
  align-items: center;
}

.modalContent {
  background-color: white;
  border-radius: .4rem;
  overflow-y: auto;
  width: 40%;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  padding: 1.5rem 1.5rem;
}

.divTitle {
  background-color: var(--main-color);
  padding: .2rem .5rem;
}

.divTitle h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.divProducts {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
}

.divProducts h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

.productCard {
  display: flex;
  justify-content: space-between;
  border-bottom: .1rem solid var(--gray-color-light);
  padding-bottom: .5rem;
}

.productInfo {
  display: flex;
  gap: 2rem;
}

.productImage {
  object-fit: cover;
  border-radius: .3rem;
  width: 12rem;
}

.divName {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.productName {
  font-size: 1.4rem;
}

.productPrice {
  font-size: 2rem;
  color: var(--main-color);
}

.divList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.divList h6 {
  font-size: 1.5rem;
  font-weight: 500;
}

.divInventory {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.inventoryDetail {
  font-size: 1.5rem;
  color: var(--gray-color);
}

.divQuant {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.buttonQuant {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: .3rem;
  background-color: var(--second-bg-color);
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttonQuant:hover {
  background-color: var(--third-bg-color);
  transition: all .3s ease-in-out;
}

.inputQuant {
  width: 4.5rem;
  text-align: center;
  border-radius: .3rem;
  color: black;
  font-size: 2rem;
  border: .1rem solid var(--second-bg-color);
}

.inputQuant::-webkit-inner-spin-button,
.inputQuant::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputQuant[type="number"] {
  -moz-appearance: textfield;
}

.buttonDelete {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: .3rem;
  background-color: var(--red-color);
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttonDelete:hover {
  background-color: var(--red-color-light);
  transition: all .3s ease-in-out;
}

.packInfo {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.divBtn button {
  border-radius: .3rem;
  background-color: var(--main-color);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: .5rem 1rem;
}

.divBtn button:hover {
  background-color: var(--second-color);
  transition: all .3s ease-in-out;
}

.divActions {
  display: flex;
  justify-content: end;
  gap: 2rem;
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  background-color: white;
}

.btnCancel {
  background-color: var(--red-color);
  color: white;
  padding: 1rem 2rem;
  border-radius: .3rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.btnCancel:hover {
  background-color: var(--red-color-light);
  transition: all .3s ease-in-out;
}

.btnSave {
  background-color: var(--second-bg-color);
  color: white;
  padding: 1rem 2rem;
  border-radius: .3rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.btnSave:hover {
  background-color: var(--third-bg-color);
  transition: all .3s ease-in-out;
}