.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  padding: 3rem;
}

.divFinal {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 3rem;
  width: 100%;
}

.divCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.divCategory h3 {
  font-size: 2.2rem;
}

.divCategory select {
  /* width: 20rem; */
  /* height: 3rem; */
  border-radius: .3rem;
  border: .2rem solid var(--second-bg-color);
  font-size: 1.6rem;
  padding: .5rem 1rem;
}

.divCategory option {
  font-size: 1.6rem;
}

.divBtn {
  display: flex;
  justify-content: end;
}

.btnNext {
  padding: 1.2rem;
  border: none;
  border-radius: .3rem;
  background-color: var(--second-bg-color);
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}

.btnNext:hover {
  background-color: var(--third-bg-color);
}

/* .divider {
  border: 0;
  height: .1rem;
  background: #ccc;
} */
.divider {
  border: 0;
  height: .1rem;
  background: #ccc;
  width: 100%;
}

.errorMessage {
  color: red;
  font-size: 1.3rem;
}

@media (max-width: 1360px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  .divCategory h3 {
    font-size: 1.8rem;
    text-align: center;
  }
}