.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;
  align-items: center;
  flex-direction: column;
}

.modalContent {
  background-color: white;
  border-radius: .4rem;
  overflow-y: auto;
  width: 40%;
  max-height: 90vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  padding: 3rem;
}

.divTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divTitle h3 {
  font-size: 2.2rem;
}

.divTitle p {
  font-size: 1.6rem;
  color: var(--gray-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.divForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.divInputs {
  display: flex;
  gap: 3rem;
  width: 100%;
}

.divInput {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 50%;
}

.divPrices {
  display: flex;
  gap: 3rem;
  width: 50%;
}

.label {
  font-size: 1.5rem;
}

.input {
  padding: 1rem;
  border: .1rem solid var(--gray-color-light);
  border-radius: .3rem;
  font-size: 1.5rem;
  width: 100%;
}

.divDescription {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.textarea {
  padding: 1rem;
  border: .1rem solid var(--gray-color-light);
  border-radius: .3rem;
  font-size: 1.5rem;
  width: 100%;
  height: 10rem;
  resize: vertical;
}

.divProducts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.btnAdd {
  padding: 1rem;
  border: none;
  border-radius: .3rem;
  background-color: var(--second-bg-color);
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}

.btnAdd:hover {
  background-color: var(--third-bg-color);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.productItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
  border-radius: .4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.dataProduct {
  display: flex;
  gap: 2rem;
}

.productImage {
  width: 4.5rem;
  height: 6rem;
  object-fit: cover;
  border-radius: .3rem;
}

.productInfo h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.productInfo p {
  font-size: 1.6rem;
  color: var(--gray-color);
}

.divActions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.quantity {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.quantity h5 {
  font-size: 1.6rem;
  color: var(--gray-color);
  font-weight: 400;
  font-style: italic;
}

/* .quantity input {
  padding: .5rem;
  border: .1rem solid var(--gray-color-light);
  border-radius: .3rem;
  font-size: 1.5rem;
  width: 4rem;
  -moz-appearance: textfield;
} */
/* .quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.quantityValue {
  /* padding: .5rem; */
  font-size: 1.5rem;
  color: var(--gray-color);
}


.btnDelete {
  padding: .5rem .8rem;
  border: none;
  border-radius: .3rem;
  background-color: var(--red-color);
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}

.btnDelete:hover {
  background-color: var(--red-color-light);
}

.divider {
  border: 0;
  height: .1rem;
  background: #ccc;
  width: 100%;
}

.divBtn {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.btnNext {
  padding: 1.2rem;
  border: none;
  border-radius: .3rem;
  background-color: var(--second-bg-color);
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}

.btnNext:hover {
  background-color: var(--third-bg-color);
}

.btnCancel {
  padding: 1.2rem;
  border: none;
  border-radius: .3rem;
  background-color: var(--red-color);
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}

.btnCancel:hover {
  background-color: var(--red-color-light);
}

.error {
  color: red;
  font-size: 1.2rem;
}

@media (max-width: 1360px) {
  .modalContent {
    width: 60%;
  }

  .container {
    padding: 2rem;
  }

  .container h2 {
    font-size: 2rem;
  }

  .btnCreate {
    font-size: 1.4rem;
  }

  .table th,
  .table td {
    font-size: 1.1rem;
  }

  .table img {
    width: 4rem;
    height: 5.5rem;
  }

  .btnDelete,
  .btnEdit {
    font-size: 1.4rem;
  }
}

@media (max-width: 1024px) {
  .modalContent {
    width: 80%;
  }

  .container {
    padding: 2rem;
  }

  .container h2 {
    font-size: 2rem;
  }

  .btnCreate {
    font-size: 1.4rem;
  }

  .table th,
  .table td {
    font-size: 1.1rem;
  }

  .table img {
    width: 4rem;
    height: 5.5rem;
  }

  .btnDelete,
  .btnEdit {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .modalContent {
    width: 90%;
  }

  .container {
    padding: 1.5rem;
  }

  .divTitle h3 {
    font-size: 1.8rem;
  }

  .divTitle p {
    font-size: 1.2rem;
  }

  .form {
    gap: 2rem;
  }

  .divInputs {
    gap: 2rem;
    width: 100%;
  }

  .divInput {
    width: 100%;
  }

  .divPrices {
    width: 100%;
  }

  .inputPrice,
  .input {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .modalContent {
    width: 95%;
  }

  .container {
    padding: 1rem;
  }

  .divTitle h3 {
    font-size: 1.8rem;
  }

  .divTitle p {
    font-size: 1.2rem;
  }

  .form {
    gap: 1.5rem;
  }

  .divInputs {
    gap: 1.5rem;
    width: 100%;
    flex-direction: column;
  }

  .divInput {
    width: 100%;
  }

  .divPrices {
    width: 100%;
  }

  .inputPrice,
  .input {
    font-size: 1.4rem;
  }

  .productItem {
  padding: 0rem;
}
}