.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;
  align-items: center;
  flex-direction: column;
}

.modalContent {
  background-color: white;
  border-radius: .4rem;
  overflow-y: auto;
  width: 40%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background-color: white;
  padding: 3rem 3rem .5rem 3rem;
}

.divTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divTitle h3 {
  font-size: 2rem;
}

.divTitle p {
  font-size: 1.6rem;
  color: var(--gray-color);
}

.divList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.productItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
  border-radius: .4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.dataProduct {
  display: flex;
  gap: 2rem;
}

.productImage {
  width: 4.5rem;
  height: 6rem;
  object-fit: cover;
  border-radius: .3rem;
}

.productInfo h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.productInfo p {
  font-size: 1.6rem;
  color: var(--gray-color);
}

.check {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  accent-color: var(--second-bg-color);
  border-radius: .3rem;
  border: 0.1rem solid var(--gray-color);
}

.divDivider {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 3rem;
}

.divider {
  border: 0;
  height: .1rem;
  background: #ccc;
  width: 100%;
}

.divBtn {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.btnNext {
  padding: 1.2rem;
  border: none;
  border-radius: .3rem;
  background-color: var(--second-bg-color);
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}

.btnNext:hover {
  background-color: var(--third-bg-color);
}

.btnCancel {
  padding: 1.2rem;
  border: none;
  border-radius: .3rem;
  background-color: var(--red-color);
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}

.btnCancel:hover {
  background-color: var(--red-color-light);
}

@media (max-width: 1360px) {
  .modalContent {
    width: 60%;
  }

  .container {
    padding: 2rem;
  }

  .divTitle h3 {
    font-size: 1.8rem;
  }

  .divTitle p {
    font-size: 1.4rem;
  }

  .productImage {
    width: 4rem;
    height: 5rem;
  }

  .productInfo h4 {
    font-size: 1.6rem;
  }

  .productInfo p {
    font-size: 1.4rem;
  }
}

@media (max-width: 1024px) {
  .modalContent {
    width: 80%;
  }

  .container {
    padding: 2rem;
  }

  .divTitle h3 {
    font-size: 2rem;
  }

  .divTitle p {
    font-size: 1.4rem;
  }

  .form {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .modalContent {
    width: 90%;
  }

  .container {
    padding: 2rem;
  }

  .divTitle h3 {
    font-size: 1.8rem;
  }

  .divTitle p {
    font-size: 1.4rem;
  }

  .productImage {
    width: 3.5rem;
    height: 4.5rem;
  }

  .productInfo h4 {
    font-size: 1.4rem;
  }

  .productInfo p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .modalContent {
    width: 95%;
  }

  .container {
    padding: 1.5rem;
  }

  .divTitle h3 {
    font-size: 1.6rem;
  }

  .divTitle p {
    font-size: 1.2rem;
  }

  .productImage {
    width: 3rem;
    height: 4rem;
  }

  .productInfo h4 {
    font-size: 1.2rem;
  }

  .productInfo p {
    font-size: 1rem;
  }
}