.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;
  align-items: center;
  flex-direction: column;
}

.modalContent {
  background-color: white;
  border-radius: .4rem;
  overflow-y: auto;
  width: 40%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background-color: white;
  /* padding: 3rem 3rem .5rem 3rem; */
  padding: 3rem 3rem 3rem 3rem;
}

.divTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divTitle h3 {
  font-size: 2rem;
}

.divTitle p {
  font-size: 1.6rem;
  color: var(--gray-color);
}
