.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
  border-radius: .3rem;
  padding: 2.5rem 0;
  width: 100%;
  position: relative;
}

.divTitle {
  padding: 0 2.5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.title {
  font-size: 2.5rem;
}

.btnMore {
  background-color: var(--main-color);
  color: white;
  padding: 1rem 2rem;
  border-radius: .3rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color .3s;
}

.btnMore:hover {
  background-color: var(--second-color);
}

.navigation {
  display: flex;
  align-items: center;
  position: relative;
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
}

.divProducts {
  display: flex;
  overflow-x: auto;
  flex-grow: 1;
  gap: 1rem;
  justify-content: flex-start;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Para Firefox */
  -ms-overflow-style: none;  /* Para Internet Explorer y Edge */
}
.divProducts::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Opera */
}

.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 2.5rem;
  cursor: pointer;
  z-index: 1;
  font-size: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prevButton {
  left: -3.75rem;
}

.nextButton {
  right: -3.75rem;
}

.prevButton:hover, .nextButton:hover {
  background-color: var(--second-color);
}

.productCard {
  min-width: 19.40%;
  box-sizing: border-box;
  scroll-snap-align: start;
}