.container {
  padding: 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container h3 {
  font-size: 2.2rem;
}

.divData {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.divSearch {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.divSearch h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.divSearch p {
  font-size: 1.6rem;
  color: var(--gray-color);
}





.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 1rem;
  text-align: left;
  border-bottom: .1rem solid var(--other-gray);
  font-size: 1.2rem;
}

.table th {
  background-color: var(--second-color);
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

.table tr:hover {
  background-color: var(--other-gray-light);
}

.thActions {
  text-align: center !important;
}

.tdActions {
  text-align: right !important;
}

.table img {
  width: 4.5rem;
  height: 6rem;
  object-fit: cover;
}

.btnDelete {
  background-color: var(--red-color);
  color: white;
  padding: .5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: .3rem;
}

.btnDelete:hover {
  background-color: var(--red-color-light);
}

.btnEdit {
  background-color: var(--second-bg-color);
  color: white;
  padding: .5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: .3rem;
  margin-right: 1rem;
}

.btnEdit:hover {
  background-color: var(--third-bg-color);
}

@media (max-width: 1360px) {
  .container {
    padding: 2rem;
  }

  .container h3 {
    font-size: 2rem;
  }

  .divSearch h4 {
    font-size: 1.6rem;
  }

  .divSearch p {
    font-size: 1.4rem;
  }

  .table th, .table td {
    padding: .8rem;
    font-size: 1.1rem;
  }

  .table img {
    width: 4rem;
    height: 5.5rem;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 1.5rem;
  }

  .container h3 {
    font-size: 1.8rem;
  }

  .divSearch h4 {
    font-size: 1.4rem;
  }

  .divSearch p {
    font-size: 1.2rem;
  }

  .table th, .table td {
    padding: .6rem;
    font-size: 1rem;
  }

  .table img {
    width: 3.5rem;
    height: 5rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .container h3 {
    font-size: 1.6rem;
  }

  .divSearch h4 {
    font-size: 1.2rem;
  }

  .divSearch p {
    font-size: 1rem;
  }

  .table th, .table td {
    padding: .5rem;
    font-size: .9rem;
  }

  .table img {
    width: 3rem;
    height: 4.5rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: .5rem;
    overflow-x: auto;
  }

  .container h3 {
    font-size: 1.4rem;
  }

  .divSearch h4 {
    font-size: 1rem;
  }

  .divSearch p {
    font-size: .8rem;
  }

  .table th, .table td {
    padding: .4rem;
    font-size: .8rem;
  }

  .table img {
    width: 2.5rem;
    height: 4rem;
  }

  .tdActions {
    display: flex;
    flex-direction: row;
  }
}