.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 4rem;
  margin-top: 7.8rem;
}

.divHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 30rem;
  background-color: var(--second-color);
}

.title {
  padding: .5rem 0;
  font-size: 3rem;
}

@media (max-width: 1360px) {
  .divHeader {
    padding: 1rem 20rem;
  }
  .title {
    font-size: 2.5rem;
  }
}

@media (max-width: 1024px) {
  .divHeader {
    padding: 1rem 10rem;
  }
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .divHeader {
    padding: 1rem 5rem;
  }
  .title {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .container {
    margin-top: 4.5rem;
  }
  .divHeader {
    padding: 1rem 2rem;
  }
  .title {
    font-size: 1.2rem;
  }
}