.container {
  display: flex;
  align-items: center;
  border: .1rem solid var(--bg-color);
  border-radius: .3rem;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
  gap: 2rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: var(--main-color);
}

.information {
  flex: 1;
}

.title {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  /* color: #333; */
  color: var(--second-bg-color);
}

.description {
  /* margin: .4rem 0 0; */
  font-size: 1.6rem;
  color: var(--gray-color);
}