@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: 'PT Sans Narrow', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --dark-white: #f8f8f8;
  --bg-color: #e4e4e4;
  --gray-color: #666;
  --gray-colorTwo: #a0a0a0;
  --other-gray: #ddd;
  --other-gray-light: #f4f4f4;
  --gray-color-light: #d1d1d1;
  --second-bg-color: #021344;
  --third-bg-color: #051853;
  --other-blue: #2c55cf;
  --dark-color: #0F1422;
  --text-color: black;
  --main-color: #f86f1a ;
  --second-color: #fc9251;
  --second-color-light: #fc9251;
  --second-color-two: #fc925144;
  --red-color: #be1212;
  --red-color-light: #c52323;
  --green-color: #2b8d2b;
  --green-color-light: #339233;
  --white-blue: #e6f7ff;
  --white-red: #fff1f0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  /* Lo agrege para el footer */
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;

  /* Lo agrege para el footer */
  height: 100%;
  margin: 0;
  padding: 0;
}

  /* Lo agrege para el footer */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App-content {
  flex: 1;
}