.container {
  padding: 3rem;
  background-color: white;
  display: flex;
  gap: 3rem;
  /* flex-direction: column; */
}

.userContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container h3 {
  font-size: 2.2rem;
}

.divInput {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.divInput h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.divInput p {
  font-size: 1.6rem;
  color: var(--gray-color);
}

.imageContainer {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.imageContainer:hover {
  transform: scale(1.05);
}