.container {
  padding: 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container h3 {
  font-size: 2.2rem;
}

.divData {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.divInput {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.divInput h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.divInput p {
  font-size: 1.6rem;
  color: var(--gray-color);
}

.divBtn {
  display: flex;
  justify-content: end;
}

.btnEdit {
  padding: 1.2rem;
  border: none;
  border-radius: .3rem;
  background-color: var(--second-bg-color);
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}

.btnEdit:hover {
  background-color: var(--third-bg-color);
}

.divider {
  border: 0;
  height: .1rem;
  background: #ccc;
  /* margin: 20px 0; */
}